.venv
.vs
3rdparty
bin
Data
x64
*.filters
*.user
__pycache__
LLFF
build
dist
checkpoints
_internal
build
dist
dockerTF_RTX6000Ada
Data
Data1
Data2
VideoData
VideoData1
VideoData2
*.o
modules_backup
.vscode
Resources
Server
*.mov