CELERY_BROKER=redis://10.254.176.122:30108/0
CELERY_BACKEND=redis://10.254.176.122:30108/1
ENGINE_IMAGE=10.254.182.120:5500/etri_scapi:0.2.0
NPO_CLI_STATE_DIR=/home/sjpark/Documents/SC2026/SCCLIPipeline/Server/DockerTest1/temp
NAS_ROOT=/home/sjpark/Documents/SC2026/SCCLIPipeline/Server